<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>

<script src="Scripts/angular.js"></script>

<script>

    function Customer($scope, $rootScope) { // Angular is Case sensitive $scope not $Scope

        //debugger;

        $rootScope.Counter = (($rootScope.Counter || 0) + 1);
        $scope.CustomerName = "Cesar";
        $scope.CustomerCode = "1001";

        //Create a Method usin inline function
        $scope.Submit = function () {
            //debugger;
            if($scope.CustomerName.length == 0) {
                alert("Not a proper data");
            }
            else {
                alert("Proper data");
            }
        }

    }

    var myApp = angular.module("myApp", []);
    myApp.controller("CustomerObj", Customer); //Registration of Controller Customer, called CustomerObj

</script>

<body>
    <div ng-app="myApp"> <!-- nd-app is at top level, only one allowed per html page -->

        {{Counter}}
        <br />

        <div id="CustScreen" ng-controller="CustomerObj"> <!-- Instance of CustomerObj -->
            Customer Name :- <input ng-model="CustomerName" type="text" id="CustomerName" value="" />
            Customer Code :- <input ng-model="CustomerCode" type="text" id="CustomerCode" value="" />
            <div id="divCustomerName">{{CustomerName}}</div>
            <div id="divCustomerCode">{{CustomerCode}}</div>
            <br />
            <input type="button" ng-click="Submit()" name="Submit" value="Submit" /> <!-- ng-click instead of js onclick-->
        </div>
        <br />
        <br />
        <div id="CustScreen" ng-controller="CustomerObj"> <!-- Instance of CustomerObj -->
            Customer Name :- <input ng-model="CustomerName" type="text" id="CustomerName" value="" />
            Customer Code :- <input ng-model="CustomerCode" type="text" id="CustomerCode" value="" />
            <br />
            <!-- Expressions are evaluated mathematicaly or functionally -->
            {{CustomerName}}<br />
            {{CustomerCode}}<br />
            {{1+1}}<br />
            {{"Hi " + CustomerName}}<br />
        </div>

        

    </div>
</body>
</html>
